
*{
        margin: 0;
        padding:0;
        border:0;

      }

body{
        font-family: "Roboto";
        color:#777777;
      }


/* --------------font----------- */

.custom-white{
    color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

.heading{
    font-family: "Exo", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

h5{
    font-family: "Roboto";
}

.sub-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

li{
    color: #292727;
}

li:active{
    font-weight: 900;
}

/* ----------Nav---------- */

.navbar{
    background-color: rgb(72, 71, 116);
    padding:0;
}

.link{
    color:#fafafa;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    list-style-type: none;
}

.link:hover{
    color:#fafafa;
    text-decoration: none;
    font-size: 20px;
}

.navbar-brand{
    color:#fafafa;
    text-decoration: none;
    padding-left: 30px;
}

.navbar-brand:hover{
    color:#fafafa;
    text-decoration: none;
    padding-left: 30px;
}


/* https://stackoverflow.com/questions/42586729/how-can-i-change-the-bootstrap-4-navbar-button-icon-color */
.navbar-toggler-icon {
    margin:10px;
    border-color:#fafafa;
    font-size: 25px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='RGBA(250,250,250,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }



#nav-list{
    float: right;
    top: 5px;
    color: #292727;
}

#nav-list div{
    margin-top: 30px;
}

#nav-list li{
    list-style: none;
    display: inline;
    text-decoration: none;
}

#nav-list a{
    margin: 20px;
    color: #fafafa;
    font-size: 20px;
}

.title{
    text-align: center;
    margin: 30px;
    color: rgb(72, 71, 116);
}

.active{
    border-bottom: 1px solid #777777;
  }

/* --------testimonials--------- */

#testimonials{
    margin:30px;
}

.circle-image{
    border-radius: 50%;
    height:200px;
    width: 200px;
    
}

blockquote{
    margin-top: 15px;
}


/* -------miscellaneous features------------- */

.block-divide{
    width: 50px;
    height: 5px;
    background-color: rgb(72, 71, 116);
    align-content: center;
    margin-bottom: 30px;
}

ul{
    padding-right: 30px;
}


/* -------------hero Section-------------- */

.hero-section{
    height:100vh;
    width:100%;
    background: url("../images/Hero-image.jpg") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    }

.hero-frame{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}

/* credit CI Love running */
@keyframes image-zoom{
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }

.cover-text{
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #fafafa;
    background-color: rgba(235, 214, 26, 0.7);
    top: 250px;
    border-radius: 20%;
  }

  .services{
    width:100px;
    height:265px;
    padding-top: 20px;
    padding-left: 10px;
    left: 5px;
    position: relative;
  }

   /* ---------------------footer------------------ */

#footer-nav-links{
    float: left;
    margin-left: 20px;
}

  .footer{
      background-color: rgb(72, 71, 116);
  }

  .footer .link{
      font-size: 20px;
  }

  li.link{
      text-align: center;
  }

.socials .link{
      font-size: 35px;
  } 

.socials ul{
    margin-top: 20px;
}  

.socials li{
    display: inline;
    list-style: none;
    margin-right: 40px;
}

a:hover{
    text-decoration: none;
    color: #fafafa;
}

.credentials, .credentials li{
    text-align: center;
    margin-top: 25px;
    color: rgb(72, 71, 116);
    list-style: none;
} 

.area-container ul{
    padding-top: 10px;
}

/* --------------history page.------------- */

#photo{
    margin-top: 100px;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
  
  }
  
  #photo img{
    width:100%;
  }

  /* credit  http://www.corelangs.com/css/box/hover.html */
  .box{
      width: 100%;
      border: none ;
      padding: 10px;
    }

    .box:hover{
      -moz-box-shadow: 0 0 50px rgb(75, 70, 70);
      -webkit-box-shadow: 0 0 50px rgb(75, 70, 70);
      box-shadow: 0 0 50px rgb(75, 70, 70);
    }

    .box-testimonials{
      width: 100%;
      width:100%;
      border: none ;
      padding: 10px;
      border-radius: 50%;
    }

    .box-testimonials:hover{
      -moz-box-shadow: 0 0 50px rgb(75, 70, 70);
      -webkit-box-shadow: 0 0 50px rgb(75, 70, 70);
      box-shadow: 0 0 50px rgb(75, 70, 70);
    }


/* ----------Contact page--------- */

section {
    display: block;
}

.hero-contact {
    min-height: 100vh;
    padding-top: 100px;
    background: url("../images/Hero-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.contact-form {
    position: relative;
    background: rgba(245, 244, 244, 0.7);
    border-radius: 0.5rem;
    max-width: 500px;
    padding: 10px 15px 0px 15px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.map{
    margin-bottom: 20px;
}



.btn.reset {
    color: #5b76a0;
    background-color: #f5f9fd;
    text-align: center;
    border-color: #80a1d4;
    border-width: 1px;
  }
  
  .reset:hover {
    color: #f5f9fd;
    background-color: #5b76a0;
    text-decoration-style: solid;
    text-decoration-color: initial;
  }
  
  .btn.submit {
    color: #f5f9fd;
    background-color: #5b76a0;
    text-align: center;
    border-color: #80a1d4;
    border-width: 1px;
  }
  
  .btn.submit:hover {
    color: #5b76a0;
    background-color: #f5f9fd;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: initial;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr{
    background-color: rgba(245, 244, 244, 0.7);
  }

  .address-container{
      background-color: rgba(245, 244, 244, 0.7);
      font-family: "Exo", sans-serif;
      max-height: 120px;
      max-width: 200px;
      margin-bottom: 20px;
  }

  /* -----------media-queries---------- */

@media screen and (max-width: 983px){
    
    #photo{
      column-count: 3;
    }
  }

  @media screen and (max-width: 800px){
    
    #photo{
      column-count: 2;
    }
  }

  @media screen and (max-width: 425px){
    
    #photo{
      column-count: 1;
    }
  }

  /* --------404------------- */

.error-404{
    margin-top: 400px;
    color: #fafafa;
}