
*{
        margin: 0;
        padding:0;
        border:0;

      }

body{
        font-family: "Roboto";
        color:#777777;
      }


/* --------------font-colours---------- */

.custom-white{
    color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

.heading{
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

h5{
    font-family: "Roboto";
}

.sub-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

li{
    color: #292727;
}

li:active{
    font-weight: 900;
}

.navbar{
    background-color: rgb(72, 71, 116);
    padding:0;
}

.link{
    color:#fafafa;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    list-style-type: none;
}

.link:hover{
    color:#fafafa;
    text-decoration: none;
    font-size: 20px;
}

.navbar-brand{
    color:#fafafa;
    text-decoration: none;
    padding-left: 30px;
}

.navbar-brand:hover{
    color:#fafafa;
    text-decoration: none;
    padding-left: 30px;
}

.title{
    text-align: center;
    margin: 30px;
    color: rgb(72, 71, 116);
}

#testimonials{
    margin:30px;
}

/* ------------Nav----------------------- */

/* https://stackoverflow.com/questions/42586729/how-can-i-change-the-bootstrap-4-navbar-button-icon-color */
.navbar-toggler-icon {
    margin:10px;
    border-color:#fafafa;
    font-size: 25px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='RGBA(250,250,250,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }



#nav-list{
    float: right;
    top: 5px;
    color: #292727;
}

#nav-list div{
    margin-top: 30px;
}

#nav-list li{
    list-style: none;
    display: inline;
    text-decoration: none;
}

#nav-list a{
    margin: 20px;
    color: #fafafa;
    font-size: 20px;
}

.block-divide{
    width: 50px;
    height: 5px;
    background-color: rgb(72, 71, 116);
    align-content: center;
    margin-bottom: 30px;
}

ul{
    padding-right: 30px;
}

.hero-section{
    height:100vh;
    width:100%;
    background: url("../images/Hero-image.jpg") no-repeat center center fixed;
    position: relative;

    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    }

.hero-frame{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}

.cover-text{
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #fafafa;
    background-color: rgba(235, 214, 26, 0.7);
    top: 250px;
    border-radius: 20%;
  }

  .services{
    width:100px;
    height:250px;
    padding-top: 20px;
    padding-left: 10px;
    left: 5px;
    position: relative;
  }

  .locations{
        width:200px;
        height:180px;
        padding-top: 20px;
        padding-left: 10px;
        right: 30px;
        position: relative;

  }

.socials li{
    display: inline;
    list-style: none;
    margin-right: 40px;
    font-size: 40px;
}

#footer-nav-links{
    float: left;
    margin-left: 20px;
}

.active{
    border-bottom: 1px solid #777777;
  }


  /*---------------- testimonial------------------ */

  .circle-image{
      border-radius: 50%;
      height:200px;
      width: 200px;
      
  }

  blockquote{
      margin-top: 15px;
  }

  /* ---------------------footer------------------ */

  .footer{
      background-color: rgb(72, 71, 116);
  }

  .footer .link{
      font-size: 20px;
  }

  li.link{
      text-align: center;
  }

.socials .link{
      font-size: 35px;
  } 

.socials ul{
    margin-top: 20px;
}  

  .socials li{
    display: inline;
    list-style: none;
    margin-right: 40px;
}

.credentials, .credentials li{
    text-align: center;
    margin-top: 25px;
    color: rgb(72, 71, 116);
    list-style: none;
} 

.area-container ul{
    padding-top: 10px;
}


/* -----------media-queries---------- */

/* @media screen and (max-width: 990px){
    .area-container{
        text-align: center;
    }
} */
